div{
    display: inline-block;
}
div div{
    border: 1px solid dodgerblue;
}
.main{
    height: 30px;
    padding-top: 10px;
    width: 100%;
    background-color: green;
    color: white;
    position: sticky;
    top: -12px;
}