*{
    margin: 0;
    padding: 0;
}
.container{
    width: 300px;
    height: 380px;
    border:1px solid red;
    margin: 20px auto;
    
}
.container div{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    
    text-align: center;
}
#box1{
    background-color: rgb(174, 248, 223);
    position: relative;
    margin-top: 20px; 
    right: 20px;
}
#box2{
    background-color: rgb(81, 133, 247);
    position: relative;
    margin-top: 20px;
    left: 20px;
}
#box3{
    background-color: rgb(165, 81, 42);
    position: relative;
    margin-top: 20px;
    left: 20px;
}
#box4{
    background-color: rgb(147, 74, 243);
    position: relative;
    margin-top: 20px;
    left: 20px;
}